# Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter("ignore")
from domain.preprocessing import *

# Données

In [2]:
data = pd.read_csv("data/beer_reviews.csv")
beer_data = data.copy()

# Analyses exploratoire

* Vue globale

In [3]:
#beer_data.head()

In [4]:
#beer_data.shape

* Infos sur les variables

In [5]:
#beer_data.info()

Il y a quatres variables qualitative et 9 quantitatives

* Valeurs manquanntes

In [6]:
#var_categories(data)

In [7]:
#plot_missing_values(beer_data)
#missing_values(beer_data)

In [8]:
date_time_year(data,"review_time")
global_mean_std(data)
df = select_year_after(data,2011)

In [9]:
df["beer_beerid"].nunique()

4367

In [10]:
tmp,df1 = top_beers(df,0)
df1

,brewery_id,brewery_name,beer_beerid,beer_name
5,1075,Caldera Brewing Company,52159,Caldera Ginger Beer
10,163,Amstel Brouwerij B. V.,436,Amstel Light
19,1075,Caldera Brewing Company,58046,Rauch Ür Bock
63,1075,Caldera Brewing Company,25414,Caldera Pale Ale
115,1075,Caldera Brewing Company,58920,Vas Deferens Ale
...,...,...,...,...
1585934,3835,Drake's Brewing Co.,67973,Drakonic Imperial Stout
1586108,16342,Coldstream Brewery,54729,Coldstream Naked Ale
1586115,16342,Coldstream Brewery,77109,Coldstream Spring Lager
1586164,6021,Ludwig Ehrnsperger Gansbrauerei,77092,Rot Bier
1586475,14359,The Defiant Brewing Company,33067,Christmas Ale

In [11]:
tmp,df1 = top_beers(df,1000)
df1

,brewery_id,brewery_name,beer_beerid,beer_name
2261,1199,Founders Brewing Company,16074,Founders Red's Rye PA
4913,1199,Founders Brewing Company,11757,Founders Breakfast Stout
5395,1199,Founders Brewing Company,34146,Founders Double Trouble
12663,1199,Founders Brewing Company,5441,Founders Centennial IPA
16216,1199,Founders Brewing Company,17538,Founders Devil Dancer
...,...,...,...,...
1522040,345,Victory Brewing Company,1010,Prima Pils
1527952,345,Victory Brewing Company,1013,Storm King Stout
1528894,345,Victory Brewing Company,14916,Hop Wallop
1557973,345,Victory Brewing Company,1009,Old Horizontal
1558824,342,The Caledonian Brewery Company Limited,639,Newcastle Brown Ale

In [12]:
tmp,df1 = top_beers(df,3000)
df1

,brewery_id,brewery_name,beer_beerid,beer_name
1166284,10099,Dogfish Head Brewery,2093,90 Minute IPA
1242846,112,North Coast Brewing Co.,412,Old Rasputin Russian Imperial Stout

In [13]:
liste_beer_id = list(df1["beer_beerid"].drop_duplicates())
liste_beer_id

[2093, 412]

In [14]:
df2 = top_beers_brewery(df1,"review_mean","review_std")
df2

KeyError: "Column(s) ['review_mean', 'review_overall', 'review_std', 'review_taste'] do not exist"

In [ ]:
df3 = top_beers_2(df)

In [ ]:
df4 = top_beers_brewery(df3,"review_mean","review_std")
df4

,brewery_name,beer_name,review_overall,review_mean,review_std,review_taste
0,Bavaria-St. Pauli-Brauerei GmbH,Extracto De Malta,5.0,4.500,0.577350,5.0
1,Throwback Brewery,Throwback Hopstruck IPA,5.0,4.375,0.478714,5.0
2,Kona Brewing Co.,Mauka Makai,5.0,4.125,0.750000,4.5
3,The Bier Brewery,Fuggit Stout,5.0,4.625,0.250000,4.5
4,Denali Brewing Company / Twister Creek Restaurant,Matt Porter,5.0,4.125,0.250000,4.0

In [ ]:
data[["brewery_id","beer_name"]].drop_duplicates().shape

(66055, 2)

In [ ]:
data["beer_beerid"].drop_duplicates().shape

(66055,)

In [ ]:
data["beer_name"].drop_duplicates().shape

(56857,)

La biere est associé à une brasserie.
Le couple brewery_id et beer_name est unique

* Nombre de fois qu'une est noté

In [ ]:
beer_id_df = data.groupby(by="beer_beerid").agg(Count=("beer_beerid","count"))
beer_id_df = beer_id_df.reset_index()
#beer_id_df[beer_id_df["beer_beerid"].isin(liste_beer_id)]
beer_id_df["Count"].max()

3290